@charset "utf-8"
/*reset*/
div,dl,dt,dd,p,span,img,ul,li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

body {
	font-family: 'Microsoft YaHei';
	background-color: #f0f0f0;
	font-size: 16px;
}
.container-fluid{
	height:100%;
    display:-webkit-flex;
    display: flex;
    -webkit-flex-direction:column;
    flex-direction: column;
}
.recharge {
	background:#fff;
	margin: 0px auto 20px;
}
.recharge-text {
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 15px;
	color:#868686;
}
.recharge .col-xs-12 {
	padding:0;
}
.recharge span {
	display: inline-block;
	margin: 4.3% 4.3% 5.5% 0px;
	width: 30.4%;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	text-align: center;
	color: #3a3a48;
	background-color: #e6e6e6;
}

.recharge .recharge-Number {
	display: inline-block;
	background: #e6e6e6;
	margin: 5px 0px 15px 15px;
	text-align: center;
	width:86px;
	height: 45px;
	line-height: 25px;
	color:#292929;
	border-radius:0;
	border:1px solid #fff;
	text-decoration: none;

}

.recharge a {
	display: inline-block;
	background: #e6e6e6;
	margin: 5px 0px 15px 15px;
	text-align: center;
	width:86px;
	height: 45px;
	line-height: 45px;
	color:#292929;
	border:1px solid #fff;
	text-decoration: none;
}
.recharge a:hover {
	text-decoration: none;
}


.money20 ,
.money30 ,
.money50 ,
.wechat,
.wechat30,
.wechat50,
.wechat100,
.wechat200,
.wechat300,
.wechat500 {
	background:url(../img/d@2x.png) no-repeat;
	background-size: 100% 45px;
}

.recharge-input input {
	margin: 5px 0px 20px 0px;
    padding-left: 20px;
    width: 100%;
    border: 0;
    border-radius: 0px;
    text-align: left;
    font-size: 16px;
    background: #e6e6e6;
}


.recharge-pay {
	color:#868686;
	padding-left: 8px;
}
